<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Normal user/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>User Dashboard</title>
</head>
<body>

<section>

<div class="card mr-3">
<div class="card-body">

<h1 class="text-center">Add Contact</h1>

<div class="container-fluid mt-1">
<div class="row">
<div class="col-md-8 offset-md-2">

<form action="#"
      th:object="${contact}"
     
      method="POST"
      th:action="@{/user/process-contact}"
      class="mt-2"
>

<!-- first Name -->
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">

<i class="fa fa-plus"></i>

</div>
</div>

<input required type="text" id="firstName" name="name" placeholder="Enter Name " class="form-control"/>

</div>

<!-- Second Name -->
<div class="input-group mt-2">
<div class="input-group-prepend">
<div class="input-group-text">

<i class="fas fa-user-alt"></i>

</div>
</div>

<input required type="text" id="LastName" name="secondname" placeholder="Enter Last Name" class="form-control"/>

</div>
<!-- Phone field -->
<div class="input-group mt-2">
<div class="input-group-prepend">
<div class="input-group-text">

<i class="fa fa-phone"></i>

</div>
</div>

<input required min="10" type="number" id="phone" name="phone" placeholder="Enter Phone Number" class="form-control"/>

</div>

<!-- Email Id -->
<div class="input-group mt-2">
<div class="input-group-prepend">
<div class="input-group-text">

@

</div>
</div>

<input required type="email" id="email" name="email" placeholder="Enter Email Id" class="form-control"/>

</div>

<!-- Work -->
<div class="input-group mt-2">
<div class="input-group-prepend">
<div class="input-group-text">

<i class="fa fa-briefcase"></i>

</div>
</div>

<input required type="text" id="work" name="work" placeholder="Enter Work" class="form-control"/>

</div>

<!--Description -->
<div class="input-group mt-2">

<textarea id="about" name="about" placeholder="Enter Description" class="form-control" rows="10"></textarea>

</div>

<!-- image -->
<!-- <div class="custom-file mt-2">

<input type="file" name="profileImage" th:field="*{profileImage}">

</div>
 -->
<!-- Submit Button -->
<div class="container text-center mt-2">

<button class="btn btn-outline-primary">Save Contact</button>

</div>

</form>

</div>
</div>
</div>

</div>
</div>

<script >

$(document).ready(()=>{
	$('.item').removeClass("active");
	$('#add-link').addClass("active");
});

</script>


</section>

</body>
</html>